<div id='board'>
	<div class='wing' id='blue-wing'>
		<div class='row'>
			<div class='space' id='0'>0</div>
			<div class='space' id='1'>0</div>
			<div class='space' id='2'>0</div>
			<div class='space' id='3'>0</div>
			<div class='space' id='4'>0</div>
			<div class='space' id='5'>0</div>
			<div class='space' id='6'>0</div>
			<div class='space' id='7'>0</div>
		</div>
		<div class='row'>
			<div class='space' id='67'>1</div>
			<div class='space' id='68'>1</div>
			<div class='space' id='69'>1</div>
			<div class='space' id='70'>1</div>
			<div class='space' id='71'>1</div>
			<div class='space' id='72'>1</div>
			<div class='space' id='73'>1</div>
			<div class='space' id='74'>1</div>
		</div>
		<div class='row'>
			<div class='space' id='66'>2</div>
			<div class='space' id='65'>2</div>
			<div class='space' id='64'>2</div>
			<div class='space' id='63'>2</div>
			<div class='space' id='62'>2</div>
			<div class='space' id='61'>2</div>
			<div class='space' id='60'>2</div>
			<div class='space' id='59'>2</div>
		</div>
	</div>
	
	<div class='wing' id='yellow-wing'>
		<div class='row'>
			<div class='space' id='15'></div>
			<div class='space' id='14'></div>
			<div class='space' id='13'></div>
			<div class='space' id='12'></div>
			<div class='space' id='11'></div>
			<div class='space' id='10'></div>
			<div class='space' id='9'></div>
			<div class='space' id='8'></div>
		</div>
		<div class='row'>
			<div class='space' id='16'>3</div>
			<div class='space' id='75'>3</div>
			<div class='space' id='76'>3</div>
			<div class='space' id='77'>3</div>
			<div class='space' id='78'>3</div>
			<div class='space' id='79'>3</div>
			<div class='space' id='80'>3</div>
			<div class='space' id='81'>3</div>
		</div>
		<div class='row'>
			<div class='space' id='17'></div>
			<div class='space' id='18'></div>
			<div class='space' id='19'></div>
			<div class='space' id='20'></div>
			<div class='space' id='21'></div>
			<div class='space' id='22'></div>
			<div class='space' id='23'></div>
			<div class='space' id='24'></div>
		</div>
	</div>
	
	<div class='wing' id='green-wing'>
		<div class='row'>
			<div class='space' id='25'></div>
			<div class='space' id='26'></div>
			<div class='space' id='27'></div>
			<div class='space' id='28'></div>
			<div class='space' id='29'></div>
			<div class='space' id='30'></div>
			<div class='space' id='31'></div>
			<div class='space' id='32'></div>
		</div>
		<div class='row'>
			<div class='space' id='88'></div>
			<div class='space' id='87'></div>
			<div class='space' id='86'></div>
			<div class='space' id='85'></div>
			<div class='space' id='84'></div>
			<div class='space' id='83'></div>
			<div class='space' id='82'></div>
			<div class='space' id='81'></div>
		</div>
		<div class='row'>
			<div class='space' id='41'>4</div>
			<div class='space' id='40'>4</div>
			<div class='space' id='39'>4</div>
			<div class='space' id='38'>4</div>
			<div class='space' id='37'>4</div>
			<div class='space' id='36'>4</div>
			<div class='space' id='35'>4</div>
			<div class='space' id='34'>4</div>
		</div>
	</div>
	
	<div class='wing' id='red-wing'>
		<div class='row'>
			<div class='space' id='42'></div>
			<div class='space' id='43'></div>
			<div class='space' id='44'></div>
			<div class='space' id='45'></div>
			<div class='space' id='46'></div>
			<div class='space' id='47'></div>
			<div class='space' id='48'></div>
			<div class='space' id='49'></div>
		</div>
		<div class='row'>
			<div class='space' id='95'></div>
			<div class='space' id='94'></div>
			<div class='space' id='93'></div>
			<div class='space' id='92'></div>
			<div class='space' id='91'></div>
			<div class='space' id='90'></div>
			<div class='space' id='89'></div>
			<div class='space' id='50'></div>
		</div>
		<div class='row'>
			<div class='space' id='58'>5</div>
			<div class='space' id='57'>5</div>
			<div class='space' id='56'>5</div>
			<div class='space' id='55'>5</div>
			<div class='space' id='54'>5</div>
			<div class='space' id='53'>5</div>
			<div class='space' id='52'>5</div>
			<div class='space' id='51'>5</div>
		</div>
	</div>
</div>
